@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

.dynamic-contrast {
  color: #000000;
  transition: color 150ms ease;
}

.dynamic-contrast .char {
  color: #000000;
  display: inline-block;
}

.dynamic-contrast .char.is-light {
  color: #ffffff;
}
